.reviews-author {
  width: 320px;
  height: 340px;
}

.reviews_description {
  display: none;
}

.reviews-author_name--title {
  color: @secondFontColor;
  padding: 0px 18px;
  margin: 50px 60px 30px;
  font-size: @secondFontSize;
  text-align: center;
}

.reviews-author_name {
  margin: -9px;
}

.blockquote {
  padding: 0 10px;
  margin: 0 20px;
  text-align: center;
  font-size: @FontSizeadvantagescomments;
  font-weight: 400;
}

.switches {
  margin: 40px;
  padding: 0 84px;
  width: 77px;
  height: 25px;
}
@media (min-width: 660px) {
  .reviews-author {
    display: flex;
    flex-direction: column;
    width: 660px;
    .switches {
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  .reviews-autor_name {
    width: 100%;
  }
  .reviews-author_name--title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .reviews_description {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }
  .blockquote {
    padding: 0 85px;
    text-align: center;
    font-size: 14px
  }
}

@media (min-width: 1200px) {
  .reviews-author,
  .reviews-author_name{
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blockquote {
    max-width: 690px;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    order:-2;
  }
  .reviews_description {
    display: flex;
    align-items: center;
    order:1;
  }
  .reviews-author_name--title {
    display: flex;
    align-items: center;
    order:-1;
  }
}
