.card-traveler {
  padding-left: 30px;
}

.information {
  font-size: @FontSizeadvantagescomments;
  color: @colorPink;
}

.information input {
  border: 1px solid @borderColor;
  margin: 18px 0px 31px -21px;
  padding: 14px 55px 14px 18px;
  font-size: @secondFontSize;
}

@media screen and (min-width: 660px) {
  .card-traveler {
    width: 660px;
    display: flex;
    flex-direction: row;
  }

  .information {
    width: 660px;
    display: flex;
    flex-direction: row;
  }
}
