
.logo-top {
  width: 320px;
  height: 70px;
  background: #283645;
  .logo {
    background: url(../img/logo-pink-white-mobile.svg) no-repeat center;
    width: 75px;
    height: 70px;
  }
  .menu-btn {
    background: url(../img/icon-menu-burger.svg) no-repeat center;
    width: 52px;
    height: 70px;
    margin-left: 150px;
    cursor: pointer;
    &.open {
      background: url(../img/icon-menu-cross.svg) no-repeat center;
    }
  }
}

.main-nav_list {
  padding: 0;
  margin: 0;
}

.main-nav_item {
  width: 320px;
  margin: 0;
  padding: 23px 0;
  list-style: none;
  border: 1px solid white;
  background: #283645;
  text-align: center;
}

.main-nav_item a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 660px) {
  .main-nav {
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
    width: 640px;
    height: 730px;
  }

  .logo-top {
    display: flex;
    flex-direction: row;
    width: 640px;
    padding-left: 20px;
    padding-right: 20px;
    .menu-btn {
      background: url(../img/icon-menu-burger.svg) no-repeat center;
      width: 52px;
      height: 70px;
      margin-left: 511px;
      cursor: pointer;
    }
  }

  .main-nav li {
    display: flex;
    flex-direction: row;
    width: 640px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    a {
      font-size: 0;
    }
  }
}
