.good-news_item {
  width: 320px;
  color: @secondFontColor;
  font-size: @secondFontSize;
  background: @background;
  text-align: center;
  margin: 0;
  .advantages {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
  }
  .advantages-comments {
    margin: 0;
    padding-bottom: 20px;
    font-size: @FontSizeadvantagescomments;
  }
}

.news-wrapper {
  width: 320px;
  text-align: center;
  color: #secondFontColor;
  padding: 0;
  .news-list_question {
    margin-top: 50px;
    margin-bottom: 40px;
    color: @fontColornewslist;
    font-size: @FontSizenewslist;
    font-weight: 100;
    text-align: center;
  }
  .news-list_answer {
    color: @fontColornewslist;
    font-size: @FontSizenewslist;
    font-weight: 100;
    margin-bottom: 40px;

  }
}
