.downloads{    
  background: url(../img/bg-back-mobile@1x.jpg)no-repeat;
  width:320px;
  height:460px;
.download-app_icons{
  height:270px;
  background-color:#1D2631;
}
    .download-app_icons{  
        width: 320px;
        height: 270px;
        position: absolute;
        top: 580px;
    }    

}
.look-life{
    display:none;
}
.button-download{
    width: 235px;
    padding: 10px 0 10px 16px;
    border-radius: 45px;
    border: 3px solid @fontColor;
    margin-left: 20px;
    text-align: center;
        a{
            color:@fontColor;
            font-size:@secondFontSize;
            text-decoration:none;
            
        }       
}

    .button-download_app--icons{
        text-align: center;
        width: 300px;
        margin-left: 0px;
    }
    .for-download {
        color:@fontColor;
        font-size: @FontSizeadvantagescomments;
        text-align: center;
    } 
