@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2'), url('../fonts/opensans.woff');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/opensansbold.woff2'), url('../fonts/opensansbold.woff');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/opensanslight.woff2'), url('../fonts/opensanslight.woff');
}
body {
  font-family: "OpenSans";
}
h2 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.visually-hidden {
  display: none;
}
.logo-top {
  width: 320px;
  height: 70px;
  background: #283645;
}
.logo-top .logo {
  background: url(../img/logo-pink-white-mobile.svg) no-repeat center;
  width: 75px;
  height: 70px;
}
.logo-top .menu-btn {
  width: 320px;
  background: url(../img/icon-menu-burger.svg) no-repeat center;
  width: 52px;
  height: 70px;
  margin-left: 150px;
  cursor: pointer;
}
.logo-top .menu-btn.open {
  background: url(../img/icon-menu-cross.svg) no-repeat center;
}
.main-nav_item {
  width: 320px;
  padding: 23px 0;
  list-style: none;
  border: 1px solid #485461;
  background: #283645;
  text-align: center;
}
.main-nav_item a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.main-nav_list {
  padding: 0;
  margin: 0;
}
@media (min-width: 660px) {
  .logo-top {
    display: flex;
    flex-direction: row;
    width: 640px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-btn {
    background: url(../img/icon-menu-burger.svg) no-repeat center;
    width: 52px;
    height: 70px;
    margin-left: 340px;
    cursor: pointer;
  }
}
.main-nav_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #485461;
}
.main-nav_item a {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .main-nav {
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
    width: 1100px;
    background-size: cover;
  }
  .logo-top {
    width: 1060px;
    height: 70px;
    background: #283645;
  }
  .logo {
    margin: 0;
  }
}
.downloads {
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
  width: 320px;
  height: 460px;
}
.downloads .download-app_icons {
  height: 270px;
}
.downloads .download-app_icons {
  width: 320px;
  height: 270px;
  position: absolute;
  top: 580px;
}
.look-life {
  display: none;
}
.button-download {
  width: 235px;
  padding: 10px 0 10px 16px;
  border-radius: 45px;
  border: 3px solid #ffffff;
  margin-left: 20px;
  text-align: center;
}
.button-download a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.button-download_app--icons {
  text-align: center;
  width: 300px;
  margin-left: 0;
}
.for-download {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 660px) {
  .downloads {
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
    width: 680px;
    background-size: cover;
  }
  .download-app_icons {
    background: none;
  }
  .look-life {
    display: block;
    font-size: 24px;
    color: #ffffff;
  }
}
.good-news_item {
  width: 320px;
  color: #000000;
  font-size: 18px;
  background: #f2f2f2;
  text-align: center;
  margin: 0;
}
.advantages {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}
.advantages-comments {
  margin: 0;
  padding-bottom: 20px;
  font-size: 14px;
}
.good-news_list {
  color: #000000;
  font-size: 14px;
  text-align: center;
}
.good-news_list:after {
  display: block;
  content: " ";
  background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
  margin-left: 80px;
  padding-top: 283px;
}
.news-wrapper {
  width: 320px;
  text-align: center;
  color: #000000;
  padding: 0;
}
.news-wrapper .news-list_question {
  margin-top: 50px;
  color: #283645;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}
.news-wrapper .news-list_answer {
  color: #283645;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 70px;
}
@media (min-width: 660px) {
  .news-wrapper {
    position: relative;
    left: 10px;
    width: 660px;
    display: flex;
    flex-direction: column;
  }
  .news-list_question {
    font-size: 24px;
  }
  .news-list_answer {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  .good-news_item {
    width: 660px;
    display: flex;
    flex-direction: column;
  }
  .advantages {
    width: 300px;
    margin-left: 270px;
  }
  .advantages-comments {
    padding: 15px 5% 40px 50%;
    text-align: left;
  }
  .good-news_list:after {
    display: block;
    content: " ";
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
    background-size: 275px auto;
    width: 660px;
    height: 478px;
    position: absolute;
    top: 992px;
    left: -64px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
    height: 850px;
    background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
    background-size: cover;
  }
  .news-wrapper {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    background: white;
  }
  .good-news_list {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
  }
  .good-news_list:after {
    display: none;
    content: " ";
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
  }
  .good-news_item {
    padding-top: 300px;
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat center top;
    margin-top: 300px;
  }
  .advantages-comments {
    width: 240px;
    padding-left: 50px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }
  .advantages {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    margin-left: 0;
  }
  .news-list_answer,
  .news-list_question {
    display: flex;
    font-size: 50px;
    line-height: 60px;
    margin: 0 auto;
  }
}
.reviews-author {
  width: 320px;
  height: 340px;
}
.reviews_description {
  display: none;
}
.reviews-author_name--title {
  color: #000000;
  padding: 0px 18px;
  margin: 50px 60px 30px;
  font-size: 18px;
  text-align: center;
}
.reviews-author_name {
  margin: -9px;
}
.blockquote {
  padding: 0 10px;
  margin: 0 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.switches {
  margin: 40px;
  padding: 0 84px;
  width: 77px;
  height: 25px;
}
@media (min-width: 660px) {
  .reviews-author {
    display: flex;
    flex-direction: column;
    width: 660px;
  }
  .reviews-author .switches {
    margin: 0 auto;
    margin-top: 20px;
  }
  .reviews-autor_name {
    width: 100%;
  }
  .reviews-author_name--title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .reviews_description {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }
  .blockquote {
    padding: 0 85px;
    text-align: center;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .reviews-author,
  .reviews-author_name {
    width: 1200px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blockquote {
    max-width: 690px;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    order: -2;
  }
  .reviews_description {
    display: flex;
    align-items: center;
    order: 1;
  }
  .reviews-author_name--title {
    display: flex;
    align-items: center;
    order: -1;
  }
}
.page‐footer_contacts {
  width: 320px;
  text-align: center;
  margin-bottom: 30px;
}
.page‐footer_contacts .referens-location_item {
  color: #283645;
}
.page‐footer_contacts a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
.page‐footer_contacts .referens-location {
  color: #d22856;
}
.page‐footer_contacts .referens-location-map {
  font-size: 18px;
  color: #d22856;
}
.about-questions-us {
  margin-bottom: 50px;
  color: #000000;
  width: 320px;
  font-size: 18px;
  text-align: center;
}
.modal {
  position: relative;
  width: 320px;
  height: 200px;
  background-image: url(../img/bg-map-mobile@1x.png);
}
.modal ::before,
.modal-map ::before {
  position: absolute;
  background-image: url(../img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
}
.map-marker {
  background-image: url(../img/icon-map-marker.svg);
  position: absolute;
  top: 120px;
  left: 160px;
  width: 30px;
  height: 30px;
}
.modal iframe {
  border: 0;
  position: absolute;
  z-index: -1;
}
@media (min-width: 660px) {
  .about-questions-us {
    width: 660px;
    padding-top: 20px;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 70px;
    font-weight: 300;
  }
  .page‐footer_wrapper {
    margin-top: 150px;
    width: 660px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .modal {
    width: 660px;
    height: 380px;
    background-image: url(../img/bg-map-mobile@1x.png) no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    position: relative;
    top: 250px;
  }
  .page‐footer_wrapper {
    width: 1200px;
    display: flex;
  }
  .about-questions-us {
    margin: 0 auto;
    padding-top: 65px;
  }
  .contacts_header {
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 60px;
  }
  .page‐footer_contacts {
    display: flex;
    flex-direction: row;
  }
  .price__controls {
    display: none;
  }
  .modal {
    height: 525;
    width: 1200px;
    background-image: url(../img/bg-map-mobile@1x.png) no-repeat;
    background-size: cover;
  }
}
.promo-block_description {
  width: 320px;
  margin: 0;
  text-align: center;
  line-height: 2;
  padding-top: 60px;
  padding-left: 3px;
  padding-bottom: 12px;
  font-size: 14px;
}
.promo-header_title {
  width: 320px;
  height: 230px;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}
.photos {
  margin-top: 50px;
}
.photos img {
  display: block;
}
.name-comment_icon,
.name_person {
  width: 280px;
  background: #f2f2f2;
}
.name {
  padding-left: 2px;
}
.give advice p {
  margin: 0;
  padding-left: 20px;
  padding-right: 9px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.icon-heart {
  padding-bottom: 20px;
}
.people-like {
  padding-left: 30px;
  color: #d22856;
  font-size: 12px;
}
.journey-with_pink {
  background: url(../img/bg-back-mobile@1x.jpg);
  width: 320px;
  height: 170px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
.competition {
  color: #ffffff;
  font-size: 24px;
  padding: 20px 40px;
  font-weight: 100;
  text-align: center;
}
.travel-story {
  width: 320px;
  height: 540px;
  background: #ffffff;
}
.bonus-card {
  margin-bottom: 50px;
  font-size: 14px;
  padding: 18px;
  text-align: center;
  line-height: 2;
}
.crazy-journey {
  margin-bottom: 40px;
  width: 320px;
  height: 555px;
  background-color: #e5e5e5;
}
.record {
  padding: 50px 50px 0px 42px;
  margin: -2px;
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.subscribe-list {
  padding-left: 30px;
  font-size: 18px;
  color: #283645;
}
.action {
  margin: 20px 20px 50px 20px;
}
.personal-data {
  width: 320px;
  height: 290px;
  background-color: #ffffff;
}
.setting,
.user {
  margin-left: 38px;
  font-size: 14px;
  color: #d22856;
}
.setting,
.user_input {
  margin-right: 20px;
  margin-top: 20px;
  padding-top: 0px;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  margin-left: 15px;
  padding-right: 42px;
}
.device {
  width: 320px;
  height: 340px;
  background-color: #e5e5e5;
}
.device-traveler {
  padding: 40px 70px 20px 52px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #d22856;
}
.app-for {
  padding-left: 58px;
  margin-bottom: 50px;
  font-size: 18px;
}
.featured-post {
  width: 320px;
  font-size: 14px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
}
.comment {
  width: 280px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}
textarea {
  width: 281px;
  height: 200px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
}
.submint-send input {
  margin: 11px;
  padding: 22px 60px 20px 55px;
  font-size: 18px;
  color: #ffffff;
  background: #2AAB6D;
  border: none;
}
.field {
  margin: 24px;
  padding-left: 26px;
}
.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #e5e5e5;
}
.price__package {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}
.price__name {
  position: relative;
  min-width: 275px;
  padding-top: 17px;
  padding-bottom: 19px;
  text-align: center;
  border: 2px solid #e5e5e5;
  background-color: #283645;
  background-clip: padding-box;
}
.price__total {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
}
.price__option {
  padding: 15px 0 14px 22px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 92.9% center;
}
.price__controls {
  margin-top: 32px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 320px) {
  .price__controls {
    display: block;
  }
  .price__table {
    position: relative;
    left: 15%;
    transform: translateX(-50%);
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #e5e5e5;
  }
  /*  .price__option--yes,
  .price__name--anlim {
    display: none;
  }
*/
  .price__name--baze {
    display: none;
  }
  .price__option--yes,
  .price__option--no {
    width: 320px;
    overflow: hidden;
  }
}
@media screen and (min-width: 660px) {
  .price__table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #e5e5e5;
  }
}
@media screen and (min-width: 1200px) {
  .price__table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #e5e5e5;
  }
}
.research {
  display: none;
}
@media (min-width: 660px) {
  .research {
    width: 660px;
    display: block;
    padding: 95px 40px 55px 50%;
    background: url(../img/icon-editor-diagram-fill.svg) 20px no-repeat;
    background-size: 250px auto;
  }
  .research__header {
    padding: 0 15px 10px 0;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }
  .research__description {
    width: 296px;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 14px;
  }
  .research__link {
    display: block;
    padding-bottom: 30px;
    line-height: 24px;
    font-size: 14px;
    text-decoration: underline;
    color: #d22856;
  }
}
@media (min-width: 1200px) {
  .research {
    width: 1200px;
    background: #f2f2f2;
    display: block;
    padding: 95px 40px 55px 30%;
    background-image: url(../img/icon-editor-diagram-fill.svg) 20px no-repeat;
    background-size: 250px auto;
  }
}
.slider-controls__toggle {
  width: 12px;
  height: 12px;
  margin-right: 9px;
  padding: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}
.slider-controls__toggle--price {
  border-color: #f2f2f2;
}
.price__slider {
  overflow: hidden;
}
.price__name--extend {
  display: table-cell;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
}
@media screen and (min-width: 320px) {
  .price__controls {
    display: block;
  }
}
